*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg,#4203a9, #90bafc);
    color: #fff;
    padding: 10px;

}

.calculater{

    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
    

    
}

.calculater h1{
    font-size: 55px;
}

.calculater h1 span{
    color: #ffff76;
}


.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 15px;
    background: rgb(255, 255,255,0.3);
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative; 
}

.input-box  button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 500;
    color: #333;
    cursor: pointer;
}

.input-box input::-webkit-calender-pickar-indicater{
    background-size: 30px;
    

}